.bowlby-one-regular {
    font-family: "Bowlby One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: black;
    align-items: center;
    align-self: center;
    background-color: blanchedalmond;
}

h1 {
    color: orange;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 3.75rem;
    /* padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%; */
    /* padding-bottom: 5%; */
    font-weight: bolder;
}

h2 {
    color: #38220c;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.itemName {
    color: #211406;
    font-weight: bold;
    size: 1rem;
}

.itemPhoto, #logo {
    max-height: 30%;
    max-width: 30%;
    /* margin-top: 4%; */
}

.itemDescription {
    color: #2b1806;
    size: 0.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemPrice {
    color: #2b1806;
    size: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2%;
}

.container {
    background-color: blanchedalmond;
}

.logo {
    max-height: 20%;
    max-width: 20%;
    align-self: center;
    align-items: center;
}